{{- if (and (eq .chezmoi.os "linux") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) -}}
#!/bin/bash

log_color() {
  color_code="$1"
  shift

  printf "\033[${color_code}m%s\033[0m\n" "$*" >&2
}

log_red() {
  log_color "0;91" "$@"
}

log_blue() {
  log_color "0;96" "$@"
}

log_task() {
  log_blue "🔃" "$@"
}

log_error() {
  log_red "❌" "$@"
}

error() {
  log_error "$@"
  exit 1
}

printf "\n"
log_blue "# Installing applications... #"

dpkg -s "adobereader-enu" &> /dev/null  
if [ $? -ne 0 ]; then
    log_task "Installing adobe reader"
    sudo wget -O adobe.deb http://ardownload.adobe.com/pub/adobe/reader/unix/9.x/9.5.5/enu/AdbeRdr9.5.5-1_i386linux_enu.deb
    sudo dpkg --add-architecture i386
    sudo apt update
    sudo apt install libxml2:i386 libcanberra-gtk-module:i386 gtk2-engines-murrine:i386 libatk-adaptor:i386 -y
    sudo apt --fix-broken install -y
    sudo dpkg -i adobe.deb
    sudo rm adobe.deb
fi

dpkg -s "freedownloadmanager" &> /dev/null  
if [ $? -ne 0 ]; then
  log_task "Installing free download manager"
  sudo wget -q https://dn3.freedownloadmanager.org/6/latest/freedownloadmanager.deb
  sudo dpkg -i freedownloadmanager.deb
  sudo rm freedownloadmanager.deb
fi

dpkg -s "mongodb-compass" &> /dev/null  
if [ $? -ne 0 ]; then
  log_task "Installing mongodb compass"
  sudo wget https://downloads.mongodb.com/compass/mongodb-compass_1.30.1_amd64.deb
  sudo dpkg -i mongodb-compass_1.30.1_amd64.deb
  sudo rm mongodb-compass_1.30.1_amd64.deb
fi

dpkg -s "teamviewer" &> /dev/null  
if [ $? -ne 0 ]; then
  log_task "Installing teamviewer"
  sudo wget https://download.teamviewer.com/download/linux/teamviewer_amd64.deb
  sudo dpkg -i teamviewer_amd64.deb
  sudo rm teamviewer_amd64.deb
fi

printf "\n"
log_task "Adding application repositories"
application_repositories=(
  "ppa:obsproject/obs-studio"
)
for repository in "${application_repositories[@]}"; do
  sudo add-apt-repository -y "$repository"
done

debian_packages=(
  "bleachbit"
  "obs-studio"
)
for package in "${debian_packages[@]}"; do
  dpkg -s "$package" &> /dev/null  
  if [ $? -ne 0 ]; then
    printf "\n"
    log_task "Installing $package"
    sudo apt install -y "$package"
  fi
done

classic_snap_packages=(
  "alacritty"
  "codium"
  "obsidian"
  "sublime-text"
)
for package in "${classic_snap_packages[@]}"; do
  if ! snap list | grep -q "^$package"; then
    printf "\n"
    log_task "Installing $package"
    sudo snap install "$package" --classic
  fi
done

snap_packages=(
  "another-redis-desktop-manager"
  "brave"
  "dbeaver-ce"
  "ngrok"
  "postman"
  "scrcpy"
)
for package in "${snap_packages[@]}"; do
  if ! snap list | grep -q "^$package"; then
    printf "\n"
    log_task "Installing $package"
    sudo snap install "$package"
  fi
done

printf "\n"
{{- end -}}
