{{- if eq .chezmoi.os "windows" -}}
Write-Host "`n`n# Preparing chezmoi key... #"

if (-not (Test-Path "~/.config/chezmoi/key.txt")) {
  Write-Host "    --> Creating chezmoi config directory..."
  New-Item -Path "~/.config/chezmoi" -ItemType Directory -ErrorAction SilentlyContinue | Out-Null
  Write-Host "    --> Decrypting chezmoi key..."
  chezmoi "age" "decrypt" "--output" "~/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
}

Write-Host ""
{{- end -}}
