{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

log_color() {
  color_code="$1"
  shift

  printf "\033[${color_code}m%s\033[0m\n" "$*" >&2
}

log_red() {
  log_color "0;31" "$@"
}

log_blue() {
  log_color "0;34" "$@"
}

log_task() {
  log_blue "🔃" "$@"
}

log_error() {
  log_red "❌" "$@"
}

error() {
  log_error "$@"
  exit 1
}

printf "\n"
log_blue "# Preparing chezmoi key... #"

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
	printf "\n"
	log_task "Creating chezmoi config directory"
  mkdir -p "${HOME}/.config/chezmoi" >/dev/null

	printf "\n"
	log_task "Decrypting chezmoi key"
  chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt" >/dev/null
fi

printf "\n"
{{- end -}}
