config/scoop/persist/*

!config/scoop/persist/7zip/
config/scoop/persist/7zip/*
!config/scoop/persist/7zip/Codecs/
!config/scoop/persist/7zip/Formats/

!config/scoop/persist/bleachbit/
config/scoop/persist/bleachbit/*
!config/scoop/persist/bleachbit/cleaners/
!config/scoop/persist/bleachbit/BleachBit.ini

!config/scoop/persist/ccleaner/

!config/scoop/persist/emeditor/

!config/scoop/persist/notepadplusplus/
config/scoop/persist/notepadplusplus/*
!config/scoop/persist/notepadplusplus/backup/
config/scoop/persist/notepadplusplus/backup/*
!config/scoop/persist/notepadplusplus/cloud/
config/scoop/persist/notepadplusplus/cloud/*
!config/scoop/persist/notepadplusplus/plugins/
!config/scoop/persist/notepadplusplus/themes/
!config/scoop/persist/notepadplusplus/userDefineLangs/
!config/scoop/persist/notepadplusplus/*.xml

!config/scoop/persist/obs-studio/
config/scoop/persist/obs-studio/*
!config/scoop/persist/obs-studio/config/
config/scoop/persist/obs-studio/config/obs-studio/*
!config/scoop/persist/obs-studio/config/obs-studio/basic/
!config/scoop/persist/obs-studio/config/obs-studio/crashes/
!config/scoop/persist/obs-studio/config/obs-studio/logs/
config/scoop/persist/obs-studio/config/obs-studio/logs/*
!config/scoop/persist/obs-studio/config/obs-studio/plugin_config/
!config/scoop/persist/obs-studio/config/obs-studio/profiler_data/
config/scoop/persist/obs-studio/config/obs-studio/profiler_data/*
!config/scoop/persist/obs-studio/config/obs-studio/updates/
!config/scoop/persist/obs-studio/config/obs-studio/*.ini
!config/scoop/persist/obs-studio/obs-plugins/
config/scoop/persist/obs-studio/obs-plugins/*
!config/scoop/persist/obs-studio/portable_mode.txt

!config/scoop/persist/sharex/

!config/scoop/persist/vscodium/
config/scoop/persist/vscodium/*
!config/scoop/persist/vscodium/data/
config/scoop/persist/vscodium/data/*
!config/scoop/persist/vscodium/data/extensions/
!config/scoop/persist/vscodium/data/user-data/
config/scoop/persist/vscodium/data/user-data/*
!config/scoop/persist/vscodium/data/user-data/Preferences
!config/scoop/persist/vscodium/data/user-data/User/
config/scoop/persist/vscodium/data/user-data/User/*
!config/scoop/persist/vscodium/data/user-data/User/settings.json
!config/scoop/persist/vscodium/data/argv.json

!config/scoop/persist/windows-terminal/

!config/scoop/persist/winscp/
